.fallingBeans {
	position: relative;
	background-color: #252525;
	height: 75vh;
	width: 95vw;
	overflow: hidden;
}
.fallingBeans .i {
	display: inline-flex;
	height: 8%;
	animation: anim 5s ease-in-out infinite;
	transform: translateY(-120%) rotate(0deg);
	z-index: -1;
}
.fallingBeans .n1 {
	animation-delay: 0.1s;
}
.fallingBeans .n2 {
	animation-delay: 1.7s;
}
.fallingBeans .n3 {
	animation-delay: 3.3s;
}
.fallingBeans .n4 {
	animation-delay: 1.3s;
}
.fallingBeans .n5 {
	animation-delay: 2.9s;
}
.fallingBeans .n6 {
	animation-delay: 4.5s;
}
.fallingBeans .n7 {
	animation-delay: 0.7s;
}
.fallingBeans .n8 {
	animation-delay: 2.3s;
}
.fallingBeans .n9 {
	animation-delay: 3.9s;
}
.fallingBeans .display {
	position: absolute;
	background: transparent;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #25252587;
	padding-left: 5%;
}
@keyframes anim {
	0% {
		transform: translateY(-120%) rotate(0deg);
	}
	100% {
		transform: translateY(120vh) rotate(-360deg);
	}
}
