body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}
main {
  background: url("https://tse4.mm.bing.net/th?id=OIP.dZNV9nvmS-hE50FuyLAikwHaE7&pid=Api") no-repeat center / cover;
  height: 75vh;
  width: 95vw;
  overflow: hidden;
}
main .i {
  display: inline-flex;
  height: 8%;
  animation: anim 5s ease-in-out infinite;
  transform: translateY(-120%) rotate(0deg);
  z-index: -1;
}
main .n1 {
  animation-delay: 0.1s;
}
main .n2 {
  animation-delay: 1.7s;
}
main .n3 {
  animation-delay: 3.3s;
}
main .n4 {
  animation-delay: 1.3s;
}
main .n5 {
  animation-delay: 2.9s;
}
main .n6 {
  animation-delay: 4.5s;
}
main .n7 {
  animation-delay: 0.7s;
}
main .n8 {
  animation-delay: 2.3s;
}
main .n9 {
  animation-delay: 3.9s;
}
main .display {
  position: absolute;
  top: 15%;
  left: 5%;
  background: transparent;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #252525;
}
@keyframes anim {
  0% {
    transform: translateY(-120%) rotate(0deg);
  }
  100% {
    transform: translateY(120vh) rotate(-360deg);
  }
}
