@charset "UTF-8";
.navHead {
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-direction: row;
	margin: 50px;
}

.logoPic {
	width: 125px;
	height: 150px;
	margin: 40px;
	border-radius: 20px;
}

.title {
	text-transform: uppercase;
	font-size: 50px;
	font-family: monospace;
	display: flex;
	justify-content: center;
	align-items: space-around;
	border-radius: 20px;
	margin: 20px;
}

a {
	border: 1px solid darkcyan;
	text-decoration: none;
	background-color: rgb(35, 92, 108);
	padding: 0.5em;
	color: #fefcfc;
	/* border-radius: 50%; */
	font-family: monospace;
	font-size: 80%;
}
.navTabs {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
}
.nav-link {
	color: white;
}

body {
	background: url("https://t3.ftcdn.net/jpg/02/88/40/06/360_F_288400615_EmThMgtmPt995hCfn8pXetLS0bF9Pa0T.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #d8dbe4ba;
	font-family: monospace;
	font-weight: 400;
	height: 100vh;
}

body header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 95%;
	background-color: rgba(131, 85, 44, 0.753);
	margin-bottom: 30px;
	border-radius: 80px;
}

body header nav {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	height: auto;
	justify-content: space-evenly;
}

body main {
	display: flex;
	flex-direction: row;
	height: 75vh;
    width: 95vw;
}

.mainCafe {
    width: 95 vw;
    height: 75 vh;
	margin: 50px;
	padding: 50px;
	background: url('/images/javabeans.png');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.box {
	width: 300px;
	height: 200px;
	background: rgb(35, 92, 108);
	padding: 8px;
	display: grid;
	place-content: center;
	color: white;
	text-align: center;
	font-family: monospace;
	border-radius: 10px;
}

.coffeeMonth {
	background: rgb(35, 92, 108);
	font-family: monospace;
	border-radius: 10px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

.wrapper {
	background: linear-gradient(
		60deg,
		rgba(138, 110, 76, 0.658),
		rgb(35, 92, 108)
	);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	border-radius: 10px;
}

.carousel {
	position: relative;
	width: 100%;
	max-width: 500px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.caroTitle {
	text-transform: uppercase;
	font-size: 20px;
	font-family: monospace;
	display: flex;
	justify-content: center;
	align-items: space-around;
	border-radius: 20px;
	margin: 20px;
}

.carousel__item {
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	padding: 0 12px;
	opacity: 0;
	filter: drop-shadow(0 2px 2px #555);
	will-change: transform, opacity;
	-webkit-animation: carousel-animate-vertical 27s linear infinite;
	animation: carousel-animate-vertical 27s linear infinite;
}

.carousel_img{
	max-height: 20px;
}

.carousel__item:nth-child(1) {
	-webkit-animation-delay: calc(3s * -1);
	animation-delay: calc(3s * -1);
}

.carousel__item:nth-child(2) {
	-webkit-animation-delay: calc(3s * 0);
	animation-delay: calc(3s * 0);
}

.carousel__item:nth-child(3) {
	-webkit-animation-delay: calc(3s * 1);
	animation-delay: calc(3s * 1);
}

.carousel__item:nth-child(4) {
	-webkit-animation-delay: calc(3s * 2);
	animation-delay: calc(3s * 2);
}

.carousel__item:nth-child(5) {
	-webkit-animation-delay: calc(3s * 3);
	animation-delay: calc(3s * 3);
}

.carousel__item:nth-child(6) {
	-webkit-animation-delay: calc(3s * 4);
	animation-delay: calc(3s * 4);
}

.carousel__item:nth-child(7) {
	-webkit-animation-delay: calc(3s * 5);
	animation-delay: calc(3s * 5);
}

.carousel__item:nth-child(8) {
	-webkit-animation-delay: calc(3s * 6);
	animation-delay: calc(3s * 6);
}

.carousel__item:last-child {
	-webkit-animation-delay: calc(-3s * 2);
	animation-delay: calc(-3s * 2);
}

.carousel__item-head {
	border-radius: 50%;
	background-color: #d7f7fc;
	width: 90px;
	height: 90px;
	padding: 14px;
	position: relative;
	margin-right: -45px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	font-family: monospace;
}

.carousel__item-body {
	width: 100%;
	background-color: #fff;
	border-radius: 8px;
	padding: 16px 20px 16px 70px;
	font-family: monospace;
}

@-webkit-keyframes carousel-animate-vertical {
	0% {
		transform: translateY(100%) scale(0.5);
		opacity: 0;
		visibility: hidden;
	}
	3%,
	11.1111111111% {
		transform: translateY(100%) scale(0.7);
		opacity: 0.4;
		visibility: visible;
	}
	14.1111111111%,
	22.2222222222% {
		transform: translateY(0) scale(1);
		opacity: 1;
		visibility: visible;
	}
	25.2222222222%,
	33.3333333333% {
		transform: translateY(-100%) scale(0.7);
		opacity: 0.4;
		visibility: visible;
	}
	36.3333333333% {
		transform: translateY(-100%) scale(0.5);
		opacity: 0;
		visibility: visible;
	}
	100% {
		transform: translateY(-100%) scale(0.5);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes carousel-animate-vertical {
	0% {
		transform: translateY(100%) scale(0.5);
		opacity: 0;
		visibility: hidden;
	}
	3%,
	11.1111111111% {
		transform: translateY(100%) scale(0.7);
		opacity: 0.4;
		visibility: visible;
	}
	14.1111111111%,
	22.2222222222% {
		transform: translateY(0) scale(1);
		opacity: 1;
		visibility: visible;
	}
	25.2222222222%,
	33.3333333333% {
		transform: translateY(-100%) scale(0.7);
		opacity: 0.4;
		visibility: visible;
	}
	36.3333333333% {
		transform: translateY(-100%) scale(0.5);
		opacity: 0;
		visibility: visible;
	}
	100% {
		transform: translateY(-100%) scale(0.5);
		opacity: 0;
		visibility: hidden;
	}
}

/* CSS */
button {
	padding: 100px;
}
.button-52 {
	font-family: monospace;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 13px 20px 13px;
	outline: 0;
	border: 1px solid gold;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-52:after {
	content: '';
	background-color: #ebd762;
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
	transition: 0.2s;
}

.button-52:hover:after {
	top: 0px;
	left: 0px;
}

@media (min-width: 768px) {
	.button-52 {
		padding: 13px 50px 13px;
	}
}

/* <-- drink menu page --> */
.drinkName {
	display: flex;
	justify-content: center;
	align-items: space-around;
	border-radius: 20px;
	margin: 20px;
}
.drinkSizeContainer {
	border: solid rgba(138, 110, 76, 0.658) 2px;
	font-family: monospace;
	font-size: 25px;
	font-weight: 20;
	letter-spacing: 1px;
	padding: 13px 20px 13px;
	outline: 0;
}

.cupSize {
	font-size: 10px;
}

.deleteBtn {
	border: 1px solid darkcyan;
	text-decoration: none;
	background-color: rgb(35, 92, 108);
	padding: 0.5em;
	margin-top: 0.5em;
	color: #fefcfc;
	/* border-radius: 50%; */
	font-family: monospace;
	font-size: 80%;
}
